*/__pycache__/
*/*/__pycache__/
*.pyc
*.pth.tar
*.pth
*.pdf
*.csv
*.gz
*.jpg
*.rar
MovingMNIST/*
UCF101/*
HMDB51/*
Kinetics400/*
ckpt_normalized/*
checkpoints/*
old_checkpoints/*
visualize/*
xs
*.zip
*.png
*.log